@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    overflow-x: hidden;
    background-color: rgb(26, 26, 26);
    color: rgb(242, 242, 242);
    font-family: 'Poppins', sans-serif;
}


/* Navbar Style */
.main_nav {
    padding: 3em;
    display: flex;
    justify-content: space-between;
}

    .main_nav h2 {
        font-size: 2.2em;
        margin-left: 2%;
    }

    .sous_nav {
        font-size: 1.5em;
        display: flex;
    }

    .sous_nav a {
        list-style: none;
        text-decoration: none;
        color: rgb(242, 242, 242);
        transition: all 0.18s ease-in-out;
    }

    .sous_nav a:hover {
        color: rgb(184, 184, 184);
        transition: all 0.18s ease-in-out;
    }

    .sous_nav li {
        margin-left: 1em;
        margin-right: 1em;
    }

@media (max-width:800px) {
    .main_nav {
        padding: 1em;
        display: block;
        text-align: center;
    }
    
        .main_nav h2 {
            font-size: 2em;
            margin-left: 0%;
        }
    
        .sous_nav {
            margin-top: 2%;
            font-size: 1.4em;
            display: flex;
            justify-content: space-evenly;
        }

        .sous_nav li {
            margin-left: 0em;
            margin-right: 0em;
        }
}

@media (max-width:500px) {
    .main_nav {
        padding: 0.5em;
        display: block;
        text-align: center;
    }
    
        .main_nav h2 {
            font-size: 1.2em;
            margin-left: 1%;
        }
    
        .sous_nav {
            font-size: 0.8em;
            display: flex;
            justify-content: space-evenly;
        }
}
/*---------------*/


/* Home Style */
.containers {
    display: grid;
    grid-template-columns: 2fr 3fr repeat(3, 0fr);
    grid-template-rows: 1fr repeat(4, 0);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 1em;
}

    .txt_containers {
        margin-top: 14%;
        margin-left: 12%;
        grid-area: 1 / 1 / 2 / 2; 
        padding: 3em;
    }

    .txt_containers h1{
        padding-bottom: 0.2em;
        font-size: 2.5em;
    }

    .txt_containers h2{
        color: rgb(4, 134, 173);
        padding-bottom: 0.2em;
        font-size: 2.3em;
    }

    .txt_containers p{
        font-size: 2em;
    }

    .btn_projects {
        margin-top: 12%;
    }

    .sous_btn_projects {
        box-shadow: 0px 0px 31px -20px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 31px -20px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 31px -20px rgba(0,0,0,0.75);
        min-width: 4em;
        height: 3em;
        color: #fff;
        padding: 5px 45px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 20px;
        border: 2px solid #ffffff;
        background: rgb(35, 35, 35);
        font-size: 1.1em;
      }
      .sous_btn_projects:hover {
        background: #fff;
        color: #495057
      }

    .img_containers {
        margin-top: 2%;
        grid-area: 1 / 2 / 2 / 3;
        text-align: center;
        padding: 3em;
    }

        .img_containers img {
            box-shadow: 11px 6px 18px -17px rgba(0,0,0,0.9);
            -webkit-box-shadow: 11px 6px 18px -17px rgba(0,0,0,0.9);
            -moz-box-shadow: 11px 6px 18px -17px rgba(0,0,0,0.9);
            border-radius: 5%;
            width: 40em;
            height: auto;
        }

    .img_absolu1 {
        position: absolute;
        top: 30%;
        right: 15%;
    }

    .img_absolu1 img {
        border-radius: 5%;
        width: 15em;
        height: auto;
    }

    .img_absolu2 {
        position: absolute;
        top: 60%;
        right: 45%;
    }

    .img_absolu2 img {
        border-radius: 5%;
        width: 27em;
        height: auto;
    }

@media (max-width:1200px) {
    .txt_containers {
        margin-top: 10%;
        margin-left: 0%;
        padding: 3em;
    }

    .txt_containers h1{
        padding-bottom: 0.2em;
        font-size: 2.1em;
    }

    .txt_containers h2{
        color: rgb(4, 134, 173);
        padding-bottom: 0.2em;
        font-size: 1.9em;
    }

    .txt_containers p{
        font-size: 1.6em;
    }

    .btn_projects {
        margin-top: 12%;
    }

    .sous_btn_projects {
        min-width: 3em;
        height: 3em;
        padding: 5px 30px;
        font-size: 1em;
      }

    .img_containers {
        margin-top: 2%;
        grid-area: 1 / 2 / 2 / 3;
        text-align: center;
        padding: 3em;
    }

        .img_containers img {
            border-radius: 5%;
            width: 34em;
            height: auto;
        }

    .img_absolu1 {
        display: flex;
        position: absolute;
        top: 25%;
        right: 5%;
    }

    .img_absolu1 img {
        border-radius: 5%;
        width: 12em;
        height: auto;
    }

    .img_absolu2 {
        position: absolute;
        top: 48%;
        right: 37%;
    }

    .img_absolu2 img {
        border-radius: 5%;
        width: 25em;
        height: auto;
    }
}


@media (max-width:950px) {
.containers {
    display: block;
    padding: 1em;
}

    .txt_containers {
        margin-top: 10%;
        margin-left: 12%;
        padding: 3em;
    }

    .txt_containers h1{
        padding-bottom: 0.2em;
        font-size: 2.2em;
    }

    .txt_containers h2{
        color: rgb(4, 134, 173);
        padding-bottom: 0.2em;
        font-size: 2em;
    }

    .txt_containers p{
        font-size: 1.7em;
    }

    .btn_projects {
        margin-top: 12%;
    }

    .img_containers {
        margin-top: 2%;
        text-align: center;
        padding: 3em;
    }

        .img_containers img {
            border-radius: 5%;
            width: 30em;
            height: auto;
        }

    .img_absolu1 {
        display: none;
    }

    .img_absolu2 {
        display: none;
    }
}

@media (max-width:599px) {
.containers {
    display: block;
    padding: 0em;
}

    .txt_containers {
        margin-top: 0%;
        margin-left: 0%;
        text-align: center;
        padding: 2em;
    }

    .txt_containers h1{
        padding-bottom: 0.2em;
        font-size: 1.8em;
    }

    .txt_containers h2{
        color: rgb(4, 134, 173);
        padding-bottom: 0.2em;
        font-size: 1.6em;
    }

    .txt_containers p{
        font-size: 1.4em;
    }

    .btn_projects {
        margin-top: 10%;
    }

    .sous_btn_projects {
        min-width: 3em;
        height: 3em;
        padding: 5px 30px;
        font-size: 1em;
      }

    .img_containers {
        margin-top: 2%;
        text-align: center;
        padding: 0em;
    }

        .img_containers img {
            border-radius: 5%;
            width: 18em;
            height: auto;
        }

    .img_absolu1 {
        display: none;
        position: absolute;
        top: 78%;
        right: 7%;
    }
}
/*---------------*/


/* Projects Style */
.main_projects {
    margin-top: 12%;
    text-align: center;
}

    .txt_projects h2 {
        font-size: 3em;
        font-weight: bold;
    }

    .img_projects {
        
    }

    .sous_img_projects {
        display: flex;
        justify-content: center;
    }

    .sous_img_projects a {
        padding: 2em;
    }

    .sous_img_projects img {
        border-radius: 15%;
        width: 22em;
        height: auto;
        transition: all 0.3s ease-in-out;
    }

    .sous_img_projects a img:hover {
        box-shadow: 1px 1px 10px #FFFFFF;
        transition: all 0.3s ease-in-out;
        width: 23em;
    }

@media (max-width:1200px) {
.main_projects {
    margin-top: 11%;
}

    .txt_projects h2 {
        font-size: 3.4em;
    }

    .img_projects {
        
    }

    .sous_img_projects {
        display: flex;
        justify-content: center;
    }

    .sous_img_projects a {
        padding: 2em;
    }

    .sous_img_projects img {
        width: 19em;
        height: auto;
    }

    .sous_img_projects a img:hover {
        width: 20em;
    }
}

@media (max-width:950px) {
.main_projects {
    margin-top: 11%;
}

    .txt_projects h2 {
        font-size: 3.4em;
    }

    .img_projects {
        
    }

    .sous_img_projects {
        display: flex;
        justify-content: center;
    }

    .sous_img_projects a {
        padding: 1em;
    }

    .sous_img_projects img {
        width: 13em;
        height: auto;
    }

    .sous_img_projects a img:hover {
        width: 14em;
    }
}

@media (max-width:780px) {
.main_projects {
    margin-top: 10%;
}

    .txt_projects {
        margin-top: 8%;
        padding: 1em;
    }

    .txt_projects h2 {
        font-size: 2.3em;
    }

    .img_projects {
        
    }

    .sous_img_projects {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .sous_img_projects a {
        padding: 0.5em;
    }

    .sous_img_projects img {
        width: 20em;
        height: auto;
    }

    .sous_img_projects a img:hover {
        width: 21em;
    }
}
/*---------------*/


/* Competences Style */
.all_competence {
    margin-top: 15em;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

    .img_competence img {
        padding: 1em;
        width: 8em;
        height: auto;
    }

  .competence {
    padding: 0.5em;
    font-size: 2.2em;
    margin-bottom: 5%;
  }

      .competence_txt {
        padding: 0.5em;
        margin-bottom: 2%;
        font-size: 1.6em;
      }

      .montage_ecran_illu {
        width: 10em;
        height: auto;
      }

  :root {
      --premiere: #ba2976;
      --photoshop: #1ea2c0;
      --aftereffect: rgb(117, 1, 159);
    }
    
    html {
      box-sizing: border-box;
    }
    *, *:before, *:after {
      box-sizing: inherit;
    }
    
    h1 {
      text-transform: uppercase;
      letter-spacing: 1.1px;
    }
    
    .competence_container {
      max-width: auto;
      margin: 0 auto;
      width: 40%;
    }

      .title_container {
          font-size: 1em;
          font-weight: 600;
      }
          
    .progressbar-wrapper {
      background-color: #dfe6e9;
      color: white;
      border-radius: 15px;
      width: 100%;
    }
    
    .progressbar {
      background-color: var(--photoshop);
      color: white;
      padding: 0.6em;
      text-align: right;
      font-size: 15px;
      border-radius: 15px;
    }
    
    
    .progressbar[title="downloading"] {
       background-color: var(--photoshop);
    }
    
    .progressbar[title="downloaded"] {
       background-color: var(--premiere);
    }

    .progressbar[title="down-load"] {
        background-color: var(--aftereffect);
     }
      
    .premiere {
      width: 85%;
    }
    
    .photoshop {
      width: 80%;
    }

    .aftereffect {
        width: 70%;
    }

    .txt_competence {
      margin-top: 2.3em;
      font-size: 1.35em;
    }

@media (max-width: 1200px) {
.all_competence {
    margin-top: 13em;
}

    .img_competence img {
        padding: 1em;
        width: 8em;
        height: auto;
    }

  .competence {
    padding: 0.5em;
    font-size: 2.2em;
    margin-bottom: 5%;
  }

      .competence_txt {
        padding: 0.5em;
        margin-bottom: 2%;
        font-size: 1.6em;
      }

      .montage_ecran_illu {
        width: 10em;
        height: auto;
      }
    
    .competence_container {
      max-width: auto;
      margin: 0 auto;
      width: 62%;
    }

      .title_container {
          font-size: 1em;
          font-weight: 600;
      }
          
    .progressbar-wrapper {
      background-color: #dfe6e9;
      color: white;
      border-radius: 15px;
      width: 100%;
    }
    
    .progressbar {
      background-color: var(--photoshop);
      color: white;
      padding: 0.6em;
      text-align: right;
      font-size: 15px;
      border-radius: 15px;
    }

    .txt_competence {
      margin-top: 2.3em;
      font-size: 1.35em;
    }
}

@media (max-width: 599px) {
.all_competence {
    margin-top: 10em;
}

    .img_competence img {
        padding: 1em;
        width: 7em;
        height: auto;
    }

  .competence {
    padding: 0.5em;
    font-size: 2.2em;
    margin-bottom: 5%;
  }

      .competence_txt {
        padding: 0.5em;
        margin-bottom: 2%;
        font-size: 1.6em;
      }

      .montage_ecran_illu {
        width: 10em;
        height: auto;
      }
    
    .competence_container {
      max-width: auto;
      margin: 0 auto;
      width: 95%;
    }

      .title_container {
          font-size: 1em;
          font-weight: 600;
      }
          
    .progressbar-wrapper {
      background-color: #dfe6e9;
      color: white;
      border-radius: 15px;
      width: 100%;
    }
    
    .progressbar {
      background-color: var(--photoshop);
      color: white;
      padding: 0.6em;
      text-align: right;
      font-size: 15px;
      border-radius: 15px;
    }

    .txt_competence {
      margin-top: 2.3em;
      font-size: 1.35em;
    }
}
/*---------------*/


/* Contact Style */
.main_contact {
    margin-top: 3em;
    color: white;
}

    .bottom_form {
        width: 100%;
        height: 0.2em;
        margin-bottom: 7em;
    }

    .title_form {
        text-decoration: underline;
        text-align: center;
        font-size: 1.1em;
    }

    .txt_form {
      text-align: center;
      font-size: 1em;
    }

.background--custom {
    width: 100vw;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -2;
  }
  canvas#canvas {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(0deg) scale(2) translateY(0%);
    --gradient-color-1: #000000; 
    --gradient-color-2: #2588ca; 
    --gradient-color-3: #000000;  
    --gradient-color-4: #000000;
    --gradient-speed: 0.000006;
  }
  
  .form-style {
    margin: 1em auto;
    width: 100%;
  }
  
  .form-style td {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
  }
  
  .form-style label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
  }
  
  .form-style .required{
    color:red;
  }
  .form-style input[type=submit], .form-style input[type=reset]{
    background: #4eb5f1;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
  }
  .form-style input[type=submit]:hover, .form-style input[type=reset]:hover{
    background: #2588ca;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
  }
  .form-style .field-textarea{
    height: 100px;
  }
  .form-style input[type=text], 
  .form-style input[type=email],
  textarea{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #2588ca;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
  }
  .form-style .long{
    width: 100%;
  }
  .form-style input[type=text]:focus, 
  .form-style input[type=email]:focus,
  .form-style textarea:focus{
    -moz-box-shadow: 0 0 8px #2588ca;
    -webkit-box-shadow: 0 0 8px #2588ca;
    box-shadow: 0 0 8px #2588ca;
    border: 1px solid #2588ca;
  }
  .error{
    font-size: 0.7em;
    color: #2588ca;
    background-color: #000000;
  }

@media (min-width:1000px) {
.main_contact {
    margin-top: 8em;
}

    .bottom_form {
        width: 100%;
        height: 0.2em;
        margin-bottom: 7em;
    }

    .title_form {
        font-size: 1.4em;
    }

    .txt_form {
        text-align: initial;
        font-size: 1.5em;
    }

.background--custom {
    width: 100%;
    height: 100%;
  }
  canvas#canvas {
    width: 100%;
    height: 100%;
  }
  
  .form-style {
    margin: 1em auto;
    width: 400px;
  }
  
  .form-style td {
    padding: 0;
    margin: 10px 0 0 0;
  }
  
  .form-style label{
    margin:0 0 3px 0;
    padding:0px;
  }

  .form-style .long{
    width: 100%;
  }

  .error{
    font-size: 0.9em;
  }
}

@media (max-width:650px) {
.main_contact {
    margin-top: 15em;
    color: white;
  }

    .bottom_form {
        width: 100%;
        height: 0.2em;
        margin-bottom: 5em;
    }

    .title_form {
        font-size: 1em;
    }

    .txt_form {
        text-align: initial;
        font-size: 1em;
    }

  .bottom_form {
    width: 100%;
    height: 0.1em;
    margin-bottom: 0em;
  }

  .background--custom {
    width: 100%;
    height: 100%;
  }
  canvas#canvas {
    width: 100%;
    height: 100%;
  }
  
  .form-style {
    width: 350px;
  }
  
  .form-style td {
    padding: 0;
    margin: 10px 0 0 0;
  }
  
  .form-style label{
    margin:0 0 3px 0;
  }
  
  .form-style .long{
    width: 90%;
  }

  .error{
    font-size: 0.8em;
    color: #2588ca;
    background-color: #000000;
  }
}
/*---------------*/


/* Footer Style */
footer {
    margin-top: 10em;
    text-align: center;
}

    footer img {
        padding: 1em;
        width: 5.5em;
        height: auto;
        transition: all 0.2s ease-in-out;
    }

    footer img:hover {
        padding: 1em;
        width: 5.7em;
        height: auto;
        transition: all 0.2s ease-in-out;
    }

@media (max-width:1200px) {
    footer {
        margin-top: 12em;
    }
    
        footer img {
            padding: 0.7em;
            width: 5em;
            height: auto;
        }
}

@media (max-width:1000px) {
    footer {
        margin-top: 12em;
    }
    
        footer img {
            padding: 0.7em;
            width: 5em;
            height: auto;
        }
}

@media (max-width:599px) {
    footer {
        margin-top: 12em;
    }
    
        footer img {
            padding: 0.7em;
            width: 4em;
            height: auto;
        }
}
/*---------------*/